<a href="https://colab.research.google.com/github/himalachudel/FDSFE_HAcharya/blob/main/Classroomcodings/ANN11_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import pylab as pl
import os
import json
import matplotlib as plt
%pylab inline
#pl.style.use("https://raw.githubusercontent.com/fedhere/DSPS/master/fbb.mplstyle")

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python3.10/dist-packages/IPython/core/magics/pylab.py:159: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +

# 0.1 reading data from kaggle

In [ ]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [ ]:
!kaggle --version

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.10/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 403, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

## create a file kaggle.json by requesting and API key to kaggle (under account)
## https://www.kaggle.com/docs/api
## and upload it to your google drive.
## Upload and read in the credential, store them as environmental variables

### Before class
Please register for an account at kaggle.com, all the work we will do together in class as well as your next homework will require it.
To register do the following:
- go to kaggle.com
- click on “Register” in the upper right corner
select either Register with Google, or Register with your email (it’s up to you)
- follow the instructions provided by kaggle to create an account (enter your email address, create a password, and choose a username), all of which are up to you, this will be your account after all
- Make sure that at the end, you have an account that you can log in with, and be logged in and ready next class

### In class

- Go to https://www.kaggle.com/ and sign in
- click on the icon of your avatar on the top right
- select account from the drop menu
- scroll down to API and click `create New API Token`. This will download a json file on your computer
- open google drive at https://drive.google.com/drive/u/0/my-drive in your browser
-  upload the kaggle.json file from your laptop to the drive

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
cd drive/My\ Drive/

/content/drive/My Drive

make sure the file is there: this cell should return "kaggle.json"

In [ ]:
ls /content/drive/MyDrive/Kaggle/kaggle.json

/content/drive/MyDrive/Kaggle/kaggle.json

the next cell changes who can access this file. Tokens are a seriously private thing! they are used to access sites. If someone were to hack the kaggle site and steal information from the user using your token you would be legally responsible for that! So keep your files secret. Don't share them with any one, don't print the content of the json file we use in your notebook.

In [ ]:
!chmod 600 /content/drive/MyDrive/Kaggle/kaggle.json

In [ ]:
envs = json.load(open("/content/drive/MyDrive/Kaggle/kaggle.json", "r"))
os.environ["KAGGLE_USERNAME"] = envs['username']
os.environ["KAGGLE_KEY"] = "66dc6d2c4836d577f6821d5cc8376456"#envs['key']

In [ ]:
#check that it worked by listing the kaggle datasets
!kaggle competitions list

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/kaggle/cli.py", line 70, in main
    out = args.func(**command_args)
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 713, in competitions_list_cli
    competitions = self.competitions_list(group=group,
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 693, in competitions_list
    return [Competition(c) for c in competitions_list_result]
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 693, in <listcomp>
    return [Competition(c) for c in competitions_list_result]
  File "/usr/local/lib/python3.10/dist-packages/kaggle/models/kaggle_models_extended.py", line 42, in __init__
    parsed_dict = {k: parse(v) for k, v in init_dict.items()}
AttributeError: 'str' object has no attribute 'items'

create a directory for these data

In [ ]:
!mkdir kaggleTitanic

mkdir: cannot create directory ‘kaggleTitanic’: File exists

move to that directory

In [ ]:
cd kaggleTitanic

/content/drive/MyDrive/kaggleTitanic

download the titanic data into the directory you created for it

In [ ]:
!kaggle competitions download -c titanic

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/kaggle/cli.py", line 70, in main
    out = args.func(**command_args)
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 997, in competition_download_cli
    self.competition_download_files(competition, path, force,
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 960, in competition_download_files
    url = response.retries.history[0].redirect_location.split('?')[0]
IndexError: tuple index out of range

In [ ]:
!ls

gender_submission.csv  test.csv  TitanicTree  TitanicTree.pdf  titanic.zip  train.csv

In [ ]:
!unzip titanic.zip

Archive:  titanic.zip
replace gender_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

read in the data

In [ ]:
titanic = pd.read_csv("train.csv")

In [ ]:
titanic.shape

(891, 12)

In [ ]:
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

# 0.2 data cleaning and wrangling

### turn gender into numeric

In [ ]:
titanic["gender"] = titanic.Sex.map({'male':0, 'female':1})

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [ ]:
titanic["Embarked"] = titanic.Embarked.map({'S':0, 'C':1,'Q':2})

In [ ]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,0.0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,1.0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,0.0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,0.0,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,0.0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,0.0,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,1.0,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,2.0,0

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    float64
 12  gender       891 non-null    int64
dtypes: float64(3), int64(6), object(4)
memory usage: 90.6+ KB

In [ ]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'gender'],
      dtype='object')

In [ ]:
titanic_clean=titanic[['Survived', 'Pclass', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked', 'gender']].dropna()
titanic_clean.shape

(712, 8)

In [ ]:
from sklearn.preprocessing import scale
titanic_scaled=scale(titanic_clean.iloc[:,1:])
titanic_scaled.std(axis=0)

array([1., 1., 1., 1., 1., 1., 1.])

In [ ]:
from sklearn.model_selection import train_test_split
train_test_split

In [ ]:
x=titanic_scaled
y=titanic_clean["Survived"]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=302,test_size=0.2)

In [ ]:
y_train.shape,y_test.shape

((569,), (143,))

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [8]:
model=Sequential()
model.add(Dense(12,input_shape=(7,),activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

NameError: ignored

In [6]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=[])

NameError: ignored

In [5]:
history=model.fit(x_train,y_train,epochs=150,batch_size=10)

NameError: ignored

In [4]:
history.history

NameError: ignored

In [3]:
plt.plot(history.history["loss"])
plt.xlabe("training epoch")
plt.ylabel("accuracy")

NameError: ignored

In [ ]:
model.predict(x_test)

5/5 [==============================] - 0s 10ms/step

array([[9.89026070e-01],
       [9.95360538e-02],
       [8.66372526e-01],
       [1.71236992e-01],
       [4.06804144e-01],
       [5.89961767e-01],
       [9.88999784e-01],
       [1.94089431e-02],
       [7.27853999e-02],
       [8.48267496e-01],
       [2.60536313e-01],
       [9.91079748e-01],
       [9.90005732e-01],
       [1.13687336e-01],
       [9.93395984e-01],
       [1.32175967e-01],
       [1.07165910e-01],
       [6.53792024e-01],
       [9.08038616e-01],
       [8.97831619e-01],
       [8.96792114e-01],
       [2.41915911e-01],
       [5.71761072e-01],
       [2.80274935e-02],
       [1.50364161e-01],
       [1.23946287e-01],
       [9.73415375e-01],
       [5.48796713e-01],
       [9.97962415e-01],
       [5.83207048e-02],
       [7.11593330e-01],
       [7.57080555e-01],
       [6.40630484e-01],
       [6.71254918e-02],
       [1.75635740e-02],
       [5.21910548e-01],
       [8.98981154e-01],
       [8.82638991e-01],
       [2.42856100e-01],
       [2.05809250e-01],
       [1.75474640e-02],
       [7.69006312e-01],
       [6.10688701e-02],
       [9.93074179e-02],
       [1.33594543e-01],
       [1.10913590e-01],
       [5.82045577e-02],
       [2.34815176e-03],
       [4.44238216e-01],
       [9.96256769e-02],
       [3.82486492e-01],
       [8.11266005e-02],
       [2.65055865e-01],
       [1.01170041e-01],
       [9.95072901e-01],
       [9.45896327e-01],
       [9.95019019e-01],
       [2.00252305e-03],
       [3.78174096e-01],
       [7.20597953e-02],
       [8.89905840e-02],
       [6.19185418e-02],
       [9.94012654e-01],
       [6.58991709e-02],
       [9.50803101e-01],
       [9.67068195e-01],
       [5.95729887e-01],
       [6.49873734e-01],
       [4.63975638e-01],
       [8.91559124e-01],
       [4.27585505e-02],
       [9.91749525e-01],
       [5.37289679e-01],
       [3.29073705e-02],
       [3.15998793e-02],
       [6.83610365e-02],
       [7.96013847e-02],
       [1.30486473e-01],
       [9.92941618e-01],
       [9.67051387e-01],
       [2.65722454e-01],
       [9.83844638e-01],
       [1.41202569e-01],
       [9.16928887e-01],
       [9.61045444e-01],
       [3.88703614e-01],
       [9.79651451e-01],
       [5.54071486e-01],
       [8.49309146e-01],
       [6.06131814e-02],
       [4.80821654e-02],
       [6.19537123e-02],
       [9.90374506e-01],
       [2.59143293e-01],
       [6.47792101e-01],
       [2.05376878e-01],
       [2.48865634e-01],
       [5.49993575e-01],
       [4.24340874e-01],
       [1.06160700e-01],
       [6.30107000e-02],
       [6.42994493e-02],
       [8.00399333e-02],
       [7.15990886e-02],
       [9.47662771e-01],
       [9.80686188e-01],
       [6.02676630e-01],
       [1.23333260e-01],
       [3.09023231e-01],
       [5.86911067e-02],
       [8.28817487e-02],
       [2.37170726e-01],
       [6.57699779e-02],
       [9.93882954e-01],
       [7.15053901e-02],
       [6.71261773e-02],
       [4.66478616e-01],
       [1.42905533e-01],
       [2.16192957e-02],
       [1.53647915e-01],
       [2.76684370e-02],
       [1.09939784e-01],
       [1.23185992e-01],
       [5.98628044e-01],
       [9.00367618e-01],
       [1.13323763e-01],
       [8.16569314e-04],
       [5.63099265e-01],
       [6.84495047e-02],
       [2.58855205e-02],
       [1.75906807e-01],
       [9.88712728e-01],
       [1.55431867e-01],
       [9.94823873e-01],
       [1.10603943e-01],
       [9.68597755e-02],
       [9.27434385e-01],
       [6.37749285e-02],
       [8.71220678e-02],
       [2.36573979e-01],
       [9.96920690e-02],
       [1.02394566e-01],
       [6.16752282e-02]], dtype=float32)

### throw away data that you will not use

In [ ]:
titanic_short1= titanic.drop(columns=["PassengerId","SibSp","Parch","Ticket","Fare","Cabin","Embarked","Name","Sex","Survived"])

In [ ]:
titanic_short1

     Pclass   Age  gender
0         3  22.0       0
1         1  38.0       1
2         3  26.0       1
3         1  35.0       1
4         3  35.0       0
..      ...   ...     ...
885       3  39.0       1
886       2  27.0       0
887       1  19.0       1
889       1  26.0       0
890       3  32.0       0

[714 rows x 3 columns]

In [ ]:
new_order=['Pclass','gender', 'Age']

In [ ]:
titanic_short=titanic_short1[new_order]

In [ ]:
titanic_short.values

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       ...,
       [ 1.,  1., 19.],
       [ 1.,  0., 26.],
       [ 3.,  0., 32.]])

In [ ]:
titanic_short

     Pclass  gender   Age
0         3       0  22.0
1         1       1  38.0
2         3       1  26.0
3         1       1  35.0
4         3       0  35.0
..      ...     ...   ...
885       3       1  39.0
886       2       0  27.0
887       1       1  19.0
889       1       0  26.0
890       3       0  32.0

[714 rows x 3 columns]

# IDEALLY GET TO HERE IN CLASS TOGETHER - the rest can just be left in the notebook for the students to inspect. Its the by-hand flow chart I made for the slides

# 0.3 test the purity of various splits
## first split

### split by gender

In [ ]:
print ("Survived fraction\n M     F \n {0:.2f} {1:.2f}".format
    (((titanic_short.gender.values == 0) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.gender.values == 0).sum(),
     ((titanic_short.gender.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.gender.values == 1).sum()))

Survived fraction
 M     F
 0.21 0.75

In [ ]:
print ("Died fraction\n M     F \n {0:.2f} {1:.2f}".format
    (((titanic_short.gender.values == 0) & (titanic.Survived.values == 0)).sum() * 1.0 /
       (titanic_short.gender.values == 0).sum(),
       ((titanic_short.gender.values == 1) & (titanic.Survived.values == 0)).sum() * 1.0 /
      (titanic_short.gender.values == 1).sum()))

Died fraction
 M     F
 0.79 0.25

### split by age (at 6.5)

In [ ]:
print ("Survived fraction\n >6.5  <6.5 \n {0:.2f}  {1:.2f}".format
      (((titanic_short.Age.values >6.5) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.Age.values >6.5).sum(),
      ((titanic_short.Age.values <=6.5) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.Age.values <=6.5).sum()))

Survived fraction
 >6.5  <6.5
 0.39  0.70

In [ ]:
print ("Died fraction\n >6.5  <6.5 \n {0:.2f}  {1:.2f}".format
      (((titanic_short.Age.values >6.5) & (titanic.Survived.values == 0)).sum() * 1.0 /
       (titanic_short.Age.values >6.5).sum(),
      ((titanic_short.Age.values <=6.5) & (titanic.Survived.values == 0)).sum() * 1.0 /
       (titanic_short.Age.values <=6.5).sum()))

Died fraction
 >6.5  <6.5
 0.61  0.30

### split by travel class

In [ ]:
print ("Survived fraction\n 1st   2nd \n {0:.2f}  {1:.2f}".format
     (((titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
      (titanic_short.Pclass.values == 1).sum(),
       ((titanic_short.Pclass.values == 2) & (titanic.Survived.values == 1)).sum() * 1.0 /
      (titanic_short.Pclass.values == 2).sum()))

Survived fraction
 1st   2nd
 0.66  0.48

In [ ]:
print ("Survived fraction\n 2nd   3rd \n {0:.2f}  {1:.2f}".format
      (((titanic_short.Pclass.values == 2) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.Pclass.values == 2).sum(),
        ((titanic_short.Pclass.values == 3) & (titanic.Survived.values == 1)).sum() * 1.0 /
      (titanic_short.Pclass.values == 3).sum()))

Survived fraction
 2nd   3rd
 0.48  0.24

In [ ]:
print ("Survived fraction\n 1st   3rd \n {0:.2f}  {1:.2f}".format
      (((titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.Pclass.values == 1).sum(),
        ((titanic_short.Pclass.values == 3) & (titanic.Survived.values == 1)).sum() * 1.0 /
      (titanic_short.Pclass.values == 3).sum()))

Survived fraction
 1st   3rd
 0.66  0.24

In [ ]:
print ("Survived fraction\n 1st   2nd or 3rd \n {0:.2f}  {1:.2f}".format
      (((titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
       (titanic_short.Pclass.values == 1).sum(),
        (((titanic_short.Pclass.values == 3) | (titanic_short.Pclass.values == 2)) & (titanic.Survived.values == 1)).sum() * 1.0 /
      ((titanic_short.Pclass.values == 3) | (titanic_short.Pclass.values == 3)).sum()))

Survived fraction
 1st   2nd or 3rd
 0.66  0.47

# The purest split is by gender, so that is chosen as the first node

# second split

### by travel class

In [ ]:
print ("Survived fraction of females: \n 1st   2nd,3rd\n {0:.2f}  {1:.2f}".format
       (((titanic_short.gender.values == 1) &
        (titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 1) & (titanic_short.Pclass.values == 1)).sum(),
        ((titanic_short.gender.values == 1) &
        ~(titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 1) & ~(titanic_short.Pclass.values == 1)).sum()))

Survived fraction of females:
 1st   2nd,3rd
 0.96  0.65

In [ ]:
print ("Survived fraction of males: \n 1st   2nd,3rd\n {0:.2f}  {1:.2f}".format
        (((titanic_short.gender.values == 0) &
        (titanic_short.Pclass.values == 1) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 0) & (titanic_short.Pclass.values == 1)).sum(),
        ((titanic_short.gender.values == 0) &
        (~(titanic_short.Pclass.values == 1)) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 0) & (~(titanic_short.Pclass.values == 1))).sum() ))

Survived fraction of males:
 1st   2nd,3rd
 0.40  0.15

### by age

In [ ]:
print ("Survived fraction of females: \n <6.5  >=6.5   \n {0:.2f} {1:.2f}".format
        (((titanic_short.gender.values == 1) &
        (titanic_short.Age.values < 6.5) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 1) & (titanic_short.Age.values < 6.5)).sum(),

       ((titanic_short.gender.values == 1) &
        (titanic_short.Age.values >= 6.5) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 1) & (titanic_short.Age.values >= 6.5)).sum()))

Survived fraction of females:
 <6.5  >=6.5
 0.74 0.76

In [ ]:
print ("Survived fraction of males: \n <6.5 >=6.5   \n {0:.2f}  {1:.2f}".format
     (((titanic_short.gender.values == 0) &
        (titanic_short.Age.values < 6.5) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 0) & (titanic_short.Age.values < 6.5)).sum(),
     ((titanic_short.gender.values == 0) &
        (titanic_short.Age.values >= 6.5) & (titanic.Survived.values == 1)).sum() * 1.0 /
       ((titanic_short.gender.values == 0) & (titanic_short.Age.values >= 6.5)).sum()))

Survived fraction of males:
 <6.5 >=6.5
 0.67  0.18

## The purest split is
## - for females by travel class
## - for males by age

# 0.4 actually run a tree model

Below I run a tree model, a simple Decision tree. Check out the syntax of the call and the hyperparameters. Next you will run tree ensamble models by yourself for the homework, but the syntax is generally the same

In [ ]:
from sklearn import tree
clf =  tree.DecisionTreeClassifier(max_depth=3, criterion="gini",
                        random_state=222).fit(titanic_short.values,
                                              titanic["Survived"])
clf.score(titanic_short.values, titanic["Survived"])

0.8081232492997199

# 0.5 create the dendrogram viz

In [ ]:
import graphviz
dot_data = tree.export_graphviz(clf, feature_names=titanic_short.columns,
                                out_file=None)
graph = graphviz.Source(dot_data)

In [ ]:
graph

In [ ]:
graph.render("TitanicTree")

'TitanicTree.pdf'

## THIS IS WHERE THE HOMEWORK YOU DO BY YOURSELF STARTS

# 1 run ensamble method:
## changing model to Random Forest

In [ ]:
titanic_short

     Pclass  gender   Age
0         3       0  22.0
1         1       1  38.0
2         3       1  26.0
3         1       1  35.0
4         3       0  35.0
..      ...     ...   ...
885       3       1  39.0
886       2       0  27.0
887       1       1  19.0
889       1       0  26.0
890       3       0  32.0

[714 rows x 3 columns]

# 1. Split the data into a training and a test set

In [ ]:
from sklearn.model_selection import train_test_split
X = titanic_short.values
y = titanic['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_test, y_train, y_test

(array([[ 3.,  1., 31.],
        [ 3.,  0., 26.],
        [ 3.,  0., 30.],
        ...,
        [ 1.,  1., 41.],
        [ 3.,  0., 33.],
        [ 3.,  0., 33.]]),
 array([[ 2. ,  0. , 42. ],
        [ 2. ,  0. ,  3. ],
        [ 2. ,  1. , 29. ],
        [ 1. ,  1. , 24. ],
        [ 3. ,  0. , 43. ],
        [ 2. ,  0. ,  8. ],
        [ 3. ,  1. , 33. ],
        [ 2. ,  1. , 54. ],
        [ 3. ,  1. , 28. ],
        [ 3. ,  1. , 23. ],
        [ 1. ,  1. , 17. ],
        [ 2. ,  1. , 32.5],
        [ 1. ,  0. , 31. ],
        [ 3. ,  0. , 38. ],
        [ 1. ,  1. , 35. ],
        [ 2. ,  0. , 23. ],
        [ 3. ,  0. , 23.5],
        [ 1. ,  1. , 16. ],
        [ 2. ,  0. , 27. ],
        [ 1. ,  1. , 54. ],
        [ 3. ,  1. , 16. ],
        [ 2. ,  1. , 50. ],
        [ 3. ,  1. ,  9. ],
        [ 1. ,  0. , 35. ],
        [ 3. ,  0. , 22. ],
        [ 3. ,  0. , 17. ],
        [ 3. ,  0. , 16. ],
        [ 3. ,  0. , 26. ],
        [ 3. ,  1. , 14.5],
        [ 3. ,  0. , 38. ],
        [ 3. ,  1. , 21. ],
        [ 3. ,  1. ,  9. ],
        [ 1. ,  0. , 36. ],
        [ 3. ,  0. , 35. ],
        [ 3. ,  0. , 37. ],
        [ 3. ,  1. , 36. ],
        [ 2. ,  0. , 34. ],
        [ 1. ,  0. , 56. ],
        [ 1. ,  0. , 61. ],
        [ 3. ,  0. , 51. ],
        [ 3. ,  0. ,  9. ],
        [ 3. ,  0. , 20. ],
        [ 1. ,  1. , 36. ],
        [ 2. ,  0. , 54. ],
        [ 1. ,  0. , 52. ],
        [ 2. ,  1. , 29. ],
        [ 2. ,  1. , 34. ],
        [ 3. ,  1. , 21. ],
        [ 1. ,  0. , 40. ],
        [ 1. ,  1. , 48. ],
        [ 1. ,  0. , 37. ],
        [ 2. ,  1. , 24. ],
        [ 1. ,  0. , 27. ],
        [ 3. ,  0. , 28. ],
        [ 3. ,  0. , 25. ],
        [ 2. ,  1. , 57. ],
        [ 1. ,  0. , 28. ],
        [ 3. ,  0. ,  3. ],
        [ 3. ,  0. , 26. ],
        [ 2. ,  0. , 62. ],
        [ 1. ,  1. , 58. ],
        [ 3. ,  0. , 25. ],
        [ 2. ,  1. , 45. ],
        [ 3. ,  0. , 17. ],
        [ 2. ,  0. , 19. ],
        [ 1. ,  0. , 47. ],
        [ 3. ,  0. ,  6. ],
        [ 1. ,  1. , 22. ],
        [ 3. ,  0. , 31. ],
        [ 1. ,  0. , 33. ],
        [ 3. ,  0. , 17. ],
        [ 1. ,  1. , 62. ],
        [ 3. ,  0. , 16. ],
        [ 3. ,  0. , 20. ],
        [ 3. ,  0. , 45. ],
        [ 3. ,  0. , 20. ],
        [ 2. ,  0. , 19. ],
        [ 3. ,  0. , 18. ],
        [ 3. ,  1. , 30.5],
        [ 1. ,  0. , 11. ],
        [ 3. ,  1. , 11. ],
        [ 1. ,  0. , 31. ],
        [ 3. ,  1. , 40. ],
        [ 3. ,  0. , 19. ],
        [ 3. ,  0. , 25. ],
        [ 3. ,  1. , 20. ],
        [ 3. ,  1. ,  9. ],
        [ 3. ,  0. , 40.5],
        [ 3. ,  0. , 19. ],
        [ 2. ,  0. , 21. ],
        [ 1. ,  0. , 45. ],
        [ 1. ,  1. , 38. ],
        [ 2. ,  1. , 50. ],
        [ 3. ,  0. , 29. ],
        [ 2. ,  1. , 34. ],
        [ 3. ,  1. , 26. ],
        [ 1. ,  1. , 24. ],
        [ 1. ,  0. , 29. ],
        [ 2. ,  0. , 30. ],
        [ 3. ,  1. , 39. ],
        [ 2. ,  1. , 28. ],
        [ 2. ,  1. , 19. ],
        [ 3. ,  0. , 30. ],
        [ 3. ,  1. ,  3. ],
        [ 2. ,  1. ,  4. ],
        [ 2. ,  0. , 34. ],
        [ 3. ,  0. , 20. ],
        [ 1. ,  0. , 36. ],
        [ 3. ,  0. , 44. ],
        [ 2. ,  1. , 40. ],
        [ 3. ,  0. , 28. ],
        [ 3. ,  0. , 21. ],
        [ 3. ,  0. ,  9. ],
        [ 1. ,  0. , 52. ],
        [ 3. ,  0. , 17. ],
        [ 3. ,  1. , 30. ],
        [ 3. ,  0. , 32. ],
        [ 3. ,  1. , 14. ],
        [ 3. ,  0. , 29. ],
        [ 3. ,  0. , 43. ],
        [ 1. ,  1. , 17. ],
        [ 3. ,  0. , 11. ],
        [ 3. ,  0. , 25. ],
        [ 3. ,  0. , 20. ],
        [ 1. ,  1. , 25. ],
        [ 3. ,  0. , 26. ],
        [ 3. ,  0. , 21. ],
        [ 2. ,  1. , 17. ],
        [ 3. ,  0. , 29. ],
        [ 1. ,  1. , 44. ],
        [ 3. ,  0. , 25. ],
        [ 3. ,  0. , 28. ],
        [ 3. ,  0. , 26. ],
        [ 2. ,  1. , 34. ],
        [ 3. ,  0. ,  2. ],
        [ 3. ,  0. , 22. ],
        [ 3. ,  0. , 33. ],
        [ 1. ,  0. , 37. ],
        [ 3. ,  0. , 10. ],
        [ 3. ,  0. ,  1. ],
        [ 3. ,  0. , 35. ],
        [ 2. ,  1. , 21. ],
        [ 1. ,  1. , 19. ]]),
 328    1
 73     0
 253    0
 719    0
 666    0
       ..
 92     0
 134    0
 337    1
 548    0
 130    0
 Name: Survived, Length: 571, dtype: int64,
 149    0
 407    1
 53     1
 369    1
 818    0
       ..
 819    0
 164    0
 363    0
 56     1
 136    1
 Name: Survived, Length: 143, dtype: int64)

##Calculating train and test score

In [ ]:
from sklearn import ensemble
rf =  ensemble.RandomForestClassifier(n_estimators=100, random_state=42, max_depth=8).fit(X_train, y_train)
print ("train score %.2f"%rf.score(X_train, y_train),
       "test score %.2f"%rf.score(X_test, y_test))

train score 0.89 test score 0.78

In [ ]:
rf.feature_importances_

array([0.17054051, 0.37801663, 0.45144285])

## change the hyper parameters and check the train and test score

changing max depth and check the score of the model

In [ ]:
rf =  ensemble.RandomForestClassifier(n_estimators=100, random_state=42, max_depth=6).fit(X_train, y_train)
print ("train score %.2f"%rf.score(X_train, y_train),
       "test score %.2f"%rf.score(X_test, y_test))

train score 0.88 test score 0.78

In [ ]:
rf.feature_importances_

array([0.17054051, 0.37801663, 0.45144285])

try another max depth and check the score of the model

In [ ]:
rf =  ensemble.RandomForestClassifier(n_estimators=100, random_state=42, max_depth=10).fit(X_train, y_train)
print ("train score %.2f"%rf.score(X_train, y_train),
       "test score %.2f"%rf.score(X_test, y_test))

train score 0.91 test score 0.76

**Which model is better? why? what would you report as your model accuracy?**

Among three different max_depths, the train score was higher for the highest max_depth (i.e,10) and the lowest for the lowest max_depth (i.e,6). Regarding the test score it didnt change on decreasing max_depth to 6 from 8 but decreased on incresing to 10 from 6. The optimum values was returned for max_depth 8. Thus that is teh better model among three.

## changing model: do the same with the Gradient Boosted Trees

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=8, random_state=42).fit(X_train, y_train)
print("train score %.2f"%clf.score(X_train, y_train),
"test score %.2f"%clf.score(X_test, y_test))

train score 0.91 test score 0.75

changing max depth and check the score of the model

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=6, random_state=42).fit(X_train, y_train)
print("train score %.2f"%clf.score(X_train, y_train),
"test score %.2f"%clf.score(X_test, y_test))

train score 0.91 test score 0.75

try another max depth and check the score of the model

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=10, random_state=42).fit(X_train, y_train)
print("train score %.2f"%clf.score(X_train, y_train),
"test score %2f"%clf.score(X_test, y_test))

train score 0.91 test score 0.755245

**Changing max_depth didnt cause much change in train score and test score.**

# 2 feature importance

**Feature importance for Random forest**

In [ ]:
rf.feature_importances_

array([0.17054051, 0.37801663, 0.45144285])

**Age has the highest influence (~ 46 %) among 3**

**Feature importance for gradient boosted trees**

In [ ]:
clf.feature_importances_

array([0.18200226, 0.43372433, 0.38427342])

**Gender has the highest influence (~ 44 %) among 3**